@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500&display=swap");

/***********************************************************************/
/***************************** BODY / HTML *****************************/
/***********************************************************************/

*:not(head, script, table, tbody, tfoot, thead, tr, td, th),
::after,
::before {
  display: flex;
  flex-direction: column;
}

html {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  font-size: 62.5%;
  font-weight: normal;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

body {
  flex: 1 0;
  /* sets how a flex item will grow or shrink to fit the space available in its flex container..*/
  font-size: 27px;
  line-height: 1.5;
  scroll-behavior: smooth;
}

html,
body {
  overflow: auto;
  /* ^ fix responsible mobil etc. */
}


/***************************** ADAPTIVE-IMG *****************************/


*[class*="adaptive-img"] {
  position: relative;
}

*[class*="adaptive-img"] > span,
*[class*="adaptive-img"] > span > img {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  border: none;
  display: block;
  position: absolute;
  box-sizing: border-box;
}

*[class*="adaptive-img"] > span {
  margin: 0;
  opacity: 1;
  width: initial;
  height: initial;
  overflow: hidden;
  background: none;
}

*[class*="adaptive-img"] > span > img {
  width: 0;
  height: 0;
  margin: auto;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
}

.adaptive-img--cover > span > img {
  object-fit: cover;
}

.adaptive-img--contain > span > img {
  object-fit: contain;
}

/***********************************************************************/
/***************************** TITLE RESET *****************************/
/***********************************************************************/

h1,
h2,
h3,
h4 {
  margin: 0;
}
