.cont {
    display: flex;
    flex-direction: row;
}


/****** HEADER ******/
.header {
    width: 300px;
    height: 100vh;
    border-right: 1px solid rgba(0,0,0,0.2);

}
/* .header::before {
    content: "";
    position: absolute;
    border-right: 1px solid rgba(0,0,0,0.2);
    height: 100%;
    left: 300px;
}
 */
/*** LOGO ***/


/* logo img */
.logo-version .adaptive-img--contain {
    margin-top: 32px;
    height: 57px;
}


/* logo list */
.version {
    position: relative;
    align-items: center;
    text-decoration: none;
    height: 44px;
    font-size: 13px;
    line-height: 44px;
    z-index: 1; /* need bc search  */
   
}
.version li {
    width: 80px;
    background-color: #FFF;
    list-style: none;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.version a {
    color: #000;
    text-decoration: none;
    padding: 0 10px;
}
.mini-list {
    position: absolute;
    transform: scale(0);
    transition: 0.4s transform;
    transform-origin: top left; 
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%),
      0 1px 5px 0 rgb(0 0 0 / 20%)
}

.version li:hover, 
.mini-list li:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.version li:hover .mini-list{
    transform: scale(1);
} 

.mini-list li:hover {
    transform: scale(1);
}


/* search */

.search{
    margin: 0;
    padding: 0;
    width: 300px;
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
  }
  .search::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid rgb(236, 236, 236);
    /* background: rgb(236, 236, 236); 
      height: 1px;
    */
  }
  
  .search::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid rgb(236, 236, 236);
    /* background: rgb(236, 236, 236); 
      height: 1px;
    */
  }
  
 .miniIcon{
    width: 20px;
    cursor: pointer;
  }
  
  .inputCont input{
    padding-left: 30px;
    min-height: 70px;
    width: 250px;
    height: 100%;
    border: none;
    outline: none;
  }






















/***** Main *****/
.main {
    background-color: beige; /* delete before send  */
    width: 100vW;
}